.palette{
  height: 380px;
  width: 900px;
  display: flex;
  margin-top: 80px;
  border-radius: 1.5rem;
  overflow: hidden;
}

.palette-color{
  width: calc( 100% / 5 );
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: end;
  padding: 20px;
  transition: background-color 0.5s ease;
}